{% extends 'main/base.html' %} {% block title %}Login{% endblock %}
{% block content %}

<form class="h-100" method="POST">
    {% csrf_token %}
    <div class="bg-dark position-relative h-100">
        <div class="position-absolute">
            <div class="mb-3">
                <label class="text-white" type="text">Click here to authorize</label>
                <button class="btn btn-secondary mb-1 ms-1" type="submit" name="request_auth_button" id="auth_button">Request authorization</button>
            </div>
            <div>
                <label class="text-white" type="text">Insert URL from auth request</label>
                <input class="col-5 ms-1 mb-3" name="redirect_input" id="redirect_input" type="text" placeholder="URL"/><br/>
                <button class="btn btn-primary" type="submit" name="auth_button" id="auth_button">Click here to authenticate</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}