{% extends 'main/base.html' %} {% block title %}Overview{% endblock %}
{% block content %}
<div class="h-100 bg-dark">
    <div class="store-cell rounded-1">
        <h1>bro</h1>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-5">
            <button class="btn btn-primary" type="submit" name="endpoint_btn" id="endpoint_btn">Get endpoint</button>
        </div>
    </form>

    <ul class="list-group mt-1">
        <li class="list-group-item">{{ request_response }}</li>
    </ul>
</div>

{% endblock %}