<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Index{% endblock %}</title>
    </head>
    <body>
        <div id="navbar">
            <div>
                <a id="home" href="/overview">Home</a>
                <a id="login" href="/login">Login</a>
            </div>
        </div>

        {% block content%}
        {% endblock %}

        <script>
            type="text/javascript"
            src="{{ url_for('static', filename='script.js') }}"
        </script>
    </body>
</html>